/* navbar */
.navbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.5s ease;
}

.navbar__container.active {
    padding: 1rem 3.5rem;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);

}

.navbar__container h1 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    font-family: "Audiowide", cursive;
}

.navbar__container h1 span {
    color: var(--primary-color);
}

.nav__links {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: capitalize;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav__link {
    position: relative;
}


.nav__link::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2.5px;
    border-radius: 10px;
    background-color: var(--primary-color);
    transition: all .3s ease;
}

.nav__link.active::after {
    width: 50%;
}


.ham__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.ham__container {
    display: none;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
}

.checkmark span {
    width: 32px;
    height: 2px;
    background-color: white;
    position: absolute;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.checkmark span:nth-child(1) {
    top: 10%;
}

.checkmark span:nth-child(2) {
    top: 50%;
}

.checkmark span:nth-child(3) {
    top: 90%;
}

.ham__container input:checked+.checkmark span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
}

.ham__container input:checked+.checkmark span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -moz-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    -o-transform: translateY(-50%) rotate(-45deg);
}

.ham__container input:checked+.checkmark span:nth-child(3) {
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    opacity: 0;
}

@media screen and (max-width: 992px) {
    .ham__container {
        display: block;
        z-index: 1001;
    }

    .nav__links {
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 100vh;
        background-color: rgba(14, 13, 19, 0.95);
        backdrop-filter: blur(10px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 0;
        padding: 0;
        overflow: hidden;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform-origin: right center;
        clip-path: circle(0% at 90% 5%);
    }

    .nav__links.active {
        width: 100%;
        clip-path: circle(150% at 90% 5%);
    }

    .nav__link {
        opacity: 0;
        transform: translateX(30px);
        transition: all 0.4s ease;
    }

    .nav__links.active .nav__link {
        opacity: 1;
        transform: translateX(0);
        transition-delay: calc(0.1s * var(--i));
    }

}


/* hero section */
section.hero {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    place-items: center;
    position: relative;
}

.content {
    min-width: 300px;
}

section.hero .content:first-child {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.hero .content h3 {
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--secondary-color);
}

section.hero .content h1 {
    font-size: 2.7rem;
    font-weight: 400;
    text-transform: capitalize;
    font-family: "Audiowide", cursive;
    color: #fff;
}

section.hero .content h1 span {
    color: var(--primary-color);
}

section.hero .content p {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--text-color);
}

.image__content.hero {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image__content.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50% / 40%;
    background: linear-gradient(45deg, var(--primary-color), var(--accent-color));
    animation: rotateHeroImage 6s linear infinite;
}

@keyframes rotateHeroImage {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.image__content.hero img {
    position: relative;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
    border: 10px solid var(--card-bg);
}

#mouse__down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.mousedown {
    width: 25px;
    height: 40px;
    border-radius: 100px;
    background-color: transparent;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.mouse__scroller {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    animation: scrollDown 1s linear infinite;
    position: absolute;
    top: 3px;
    left: 30%;
    transform: translateX(-50%);
}

@keyframes scrollDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}


@media screen and (max-width: 992px) {
    section.hero {
        grid-template-columns: 1fr;
        /* margin-top: 80px; */
        text-align: center;
        place-items: start;
        justify-content: center;
        justify-items: center;
    }

    section.hero .content h3 {
        font-size: 1.4rem;
    }

    section.hero .content h1 {
        font-size: 2rem;
    }

    section.hero .content .playful-btn {
        margin: 10px auto;
    }

    section.hero .content {
        order: 2;
        place-content: start;

    }

    .image__content.hero {
        position: relative;
        width: 220px;
        height: 220px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: end;
        margin-bottom: 30px;
    }

    .image__content.hero img {
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        z-index: 1;
        border: 10px solid var(--card-bg);
    }
}


/* about */
section.about {
    padding-top: 80px;
}

.about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 60px;
}

.image__content.about {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    z-index: 1;
}

.image__content.about::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    border-radius: 50%;
    background: linear-gradient(45deg, var(--primary-color), var(--accent-color));
    z-index: 0;
    animation: rotateHeroImage 8s linear infinite;
    /* filter: blur(3px); */
    opacity: 0.8;
}

@keyframes rotateHeroImage {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.image__content.about img {
    position: relative;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
    border: 6px solid var(--card-bg);
    display: block;
    margin: 0 auto;
}

.desc__about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.desc__about h1 {
    font-size: 2rem;
    font-weight: 600;
    font-family: "orbitron", sans-serif;
    color: #fff;
}

.desc__about h1 span {
    color: var(--accent-color);
}

@media screen and (max-width: 992px) {
    .about__content {
        grid-template-columns: 1fr;
    }

    .image__content.about {
        position: relative;
        width: 220px;
        height: 220px;
        margin-bottom: 50px;
    }

    .image__content.about img {
        position: relative;
        width: 200px;
        height: 200px;
    }

    .desc__about {
        max-width: 500px;
        text-align: center;
        margin: 0 auto;
    }

    .desc__about .playful-btn {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .desc__about {
        max-width: 100%;
    }
}



/* skills */
section.skills {
    padding-top: 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.skill__card {
    width: 300px;
    height: 200px;
    background-color: var(--bg-card);
    border-radius: 15px;
    padding: 20px;
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    border-radius: 50%;
    color: #fff;
    display: grid;
    place-items: center;
    font-size: 1.7rem;
}

.skill__card h1 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "orbitron", sans-serif;
    color: var(--secondary-color);
    text-transform: uppercase;
}


/* education & experience */
section.experience {
    position: relative;
    padding-top: 80px;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 50px auto 0 auto;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 2px;
    background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item {
    padding: 20px 0;
    position: relative;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    left: 0;
    padding-right: 50px;
    text-align: right;
}

.timeline-item:nth-child(even) {
    left: 50%;
    padding-left: 50px;
    text-align: left;
}

.timeline-date {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 5px 15px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 15px;
    font-weight: 600;
}

.timeline-content {
    background-color: #110f1e;
    padding: 30px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    position: relative;
}

.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    top: 100px;
}

.dot.left {
    left: -10px;
}

.dot.right {
    right: -10px;
}

.timeline-content h3 {
    margin-bottom: 5px;
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 700;
    font-family: 'Orbitron', sans-serif;
}

.timeline-content h4 {
    color: var(--secondary-color);
    margin-bottom: 10px;
    font-size: 1rem;
    font-family: 'Audiowide';
}

.timeline-content p {
    color: var(--text-color);
    font-size: 0.9rem;
    line-height: 1.6;
    font-family: 'Exo 2', sans-serif;
}

@media screen and (max-width: 768px) {
    .timeline::before {
        left: 30px;
    }

    .timeline-item {
        width: 100%;
        padding-left: 80px;
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd) {
        left: 0;
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(even) {
        left: 0;
        padding-left: 80px;
    }

    .dot.left {
        left: 20px;
    }

    .dot.right {
        left: 20px;
    }
}